* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background-color: #05386b;

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: block;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1, h2, p {
    color: #8ee4af;
    text-align: center;
    padding: 20px 0;
    font-size: 32px
}

a {
    font-size: 14px;
    color: #8ee4af;
    text-align: center;
    padding: 20px 0;
}

.header__button-count {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__button {
    width: 200px;
    height: 50px;
    background-color: #379653;
    border: #379683 3px solid;
    border-radius: 15px;
    color: #edf5e1;
    font-size: 24px;

}

.main {
    flex-grow: 1;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
